.TabelaProdutos table{
width: 100%;
}

.TabelaProdutos th{
background-color: #008b8b;
}

.TabelaProdutos .Par{
background-color: #ddd;
}


.TabelaProdutos .Preco{
text-align: right;
}

.TabelaProdutos .Descricao{
text-align: left;
}

.TabelaProdutos .Maiores{
    color:red;
    }
    